<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="goBack()"
      ><ion-icon ios="md-skip-backward" name="skip-backward"></ion-icon
      >Back</ion-buttons
    >
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="onAddPlace(f.value)" #f="ngForm">
    <ion-item>
      <ion-label><ion-icon name="compass"></ion-icon> Enter City : </ion-label>
      <ion-input type="text" name="city" ngModel required></ion-input>
    </ion-item>
    <ion-button
      expand="block"
      fill="outline"
      type="submit"
      [disabled]="!f.valid"
      >Add Location</ion-button
    >
  </form>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button color="success " (click)="onLocateUser()"
          >Go to Location</ion-button
        >
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>
          Choosen Place: {{ location?.coords.latitude}} / {{
          location?.coords.longitude }}
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
